﻿<div class="middle-box text-center loginscreen  animated fadeInDown">
    <br/>
    <br/>
    <div>
        <h3>Welcome to Load Board</h3>
        <form class="m-t central-from" role="form" id="loginForm" name="loginForm" ng-submit="login.login()" novalidate autocomplete="on">
            <div class="form-group">
                <input id="Email"
                       name="Email"
                       type="email"
                       class="form-control"
                       autofocus="autofocus"
                       ng-class="{ error: hasError('Email') }"
                       placeholder="Email.."
                       ng-required="true"
                       ng-disabled="login.loggingIn"
                       ng-model="login.email"/>
                <label class="error" ng-show="hasError('Email', 'required')">Your email is required.</label>
                <label class="error" ng-show="hasError('Email', 'email')">Please enter valid email address.</label>
            </div>
            <div class="form-group">
                <input id="Password"
                       name="Password"
                       type="password"
                       class="form-control"
                       ng-class="{ error: hasError('Password') }"
                       placeholder="Password.."
                       ng-required="true"
                       ng-minlength="6"
                       ng-maxlength="50"
                       maxlength="50"
                       ng-disabled="login.loggingIn"
                       ng-model="login.password"/>
                <label class="error" ng-show="hasError('Password', 'minlength')">Your password is too short.</label>
                <label class="error" ng-show="hasError('Password', 'maxlength')">Your password is too long.</label>
                <label class="error" ng-show="hasError('Password', 'required')">Your password is required.</label>
            </div>
            <button type="submit" class="btn btn-primary block full-width m-b" ng-disabled="login.loggingIn">Login
                <div class="btn-spinner" ng-show="login.loggingIn" ng-include="'app/main/views/spinner.view.html'"></div>
            </button>
            <button ui-sref="register" class="btn btn-primary block full-width m-b" ng-disabled="login.loggingIn">Register</button>
        </form>
    </div>
</div>
