﻿<div class="animated fadeInDown" ng-init="user.init()">
    <br/><br/>
    <div class="row">
        <div class="col-lg-6 col-md-offset-3">
            <div class="ibox-content">
                <h2 class="font-bold">Register account</h2>

                <form class="m-t" role="form" novalidate name="register">
                    <div class="row">
                        <div class="col-md-6 form-group">
                            <label>Full name</label>
                            <input type="text"
                                   name="Fullname"
                                   autofocus="autofocus"
                                   ng-keydown="user.keyPressed($event)"
                                   class="form-control"
                                   ng-class="{ error: hasError('Fullname') }"
                                   placeholder="Full name..."
                                   ng-minlength="2"
                                   ng-maxlength="100"
                                   maxlength="100"
                                   ng-required="true"
                                   ng-pattern="/^[a-zA-Z-'\s]*$/"
                                   ng-trim="false"
                                   ng-disabled="user.adding"
                                   ng-model="user.item.fullName"/>
                            <label class="error" ng-show="hasError('Fullname', 'minlength')">Your full name is too short.</label>
                            <label class="error" ng-show="hasError('Fullname', 'maxlength')">Your full name is too long.</label>
                            <label class="error" ng-show="hasError('Fullname', 'pattern')">Your full name should contain english letters.</label>
                            <label class="error" ng-show="hasError('Fullname', 'required')">Your full name is required.</label>
                        </div>
                        <div class="col-md-6 form-group">
                            <label>Email</label>
                            <input type="email"
                                   name="Email"
                                   ng-keydown="user.keyPressed($event)"
                                   class="form-control"
                                   ng-class="{ error: hasError('Email') }"
                                   placeholder="youremail@example.com"
                                   ng-maxlength="100"
                                   maxlength="100"
                                   ng-required="true"
                                   ng-trim="false"
                                   ng-disabled="user.adding"
                                   ng-model="user.item.emailAddress" />
                            <label class="error" ng-show="hasError('Email', 'maxlength')">Your email address is too long.</label>
                            <label class="error" ng-show="hasError('Email', 'email')">Please enter valid email address.</label>
                            <label class="error" ng-show="hasError('Email', 'required')">Your email address is required.</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 form-group">
                            <label>Account type</label>
                            <select name="AccountType"
                                    ng-keydown="user.keyPressed($event)"
                                    class="form-control"
                                    ng-class="{ error: hasError('AccountType') }"
                                    ng-disabled="user.adding"
                                    ng-required="true"
                                    ng-model="user.item.accountType">
                                <option value="LoadOwner">Load Owner</option>
                                <option value="Carrier" selected="selected">Carrier</option>
                            </select>
                            <label class="error" ng-show="hasError('AccountType', 'required')">Your account type is required.</label>
                        </div>
                    </div>

                    <hr/>

                    <div class="row">
                        <div class="col-md-6 form-group">
                            <label>Password</label>
                            <input type="password"
                                   name="Password"
                                   ng-keydown="user.keyPressed($event)"
                                   class="form-control"
                                   ng-class="{ error: hasError('Password') }"
                                   placeholder="Password.."
                                   ng-required="true"
                                   ng-minlength="6"
                                   ng-maxlength="50"
                                   maxlength="50"
                                   ng-disabled="user.adding"
                                   ng-model="user.item.password"/>
                            <label class="error" ng-show="hasError('Password', 'minlength')">Your password is too short.</label>
                            <label class="error" ng-show="hasError('Password', 'maxlength')">Your password is too long.</label>
                            <label class="error" ng-show="hasError('Password', 'required')">Your password is required.</label>
                        </div>
                        <div class="col-md-6 form-group">
                            <label>Confirm password</label>
                            <input type="password"
                                   name="ConfirmPassword"
                                   ng-keydown="user.keyPressed($event)"
                                   class="form-control"
                                   ng-class="{ error: hasError('ConfirmPassword') }"
                                   placeholder="Confirm password.."
                                   ng-required="true"
                                   maxlength="50"
                                   equals="{{user.item.password}}"
                                   ng-disabled="user.adding"
                                   ng-model="user.item.confirmPassword"/>
                            <label class="error" ng-show="hasError('ConfirmPassword', 'equals')">Password does not match the confirm password.</label>
                            <label class="error" ng-show="hasError('ConfirmPassword', 'required')">Your password confirmation is required.</label>
                        </div>
                    </div>
                    <hr/>

                    <div class="row">
                        <div class="col-md-6">
                            <button type="submit" class="btn btn-success block full-width m-b" ng-click="user.clickedSubmit()" ng-disabled="user.adding">
                                Submit
                                <div class="btn-spinner" ng-show="user.adding" ng-include="'app/main/views/spinner.view.html'"></div>
                            </button>
                        </div>
                        <div class="col-md-6">
                            <button class="btn btn-success block full-width m-b" ng-click="user.clickedCancel()" ng-disabled="user.adding">Cancel</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
