﻿<div class="animated fadeInDown">
    <div class="row">
        <spinner name="verifySpinner" on-loaded="verify.init()" class="text-center" style="margin-top: 10%;">
            <img alt="Loading..." src="assets/images/spinner-gears-3.gif">
            <p class="please-wait">Please Wait...</p>
        </spinner>
    </div>
</div>