﻿<div class="row">
    <div class="col-md-12">
        We offer multiple options for URLs to test your app store landing pages. <br />
        If you have an existing website we recommend creating a new page on your site and using one of the scripts to generate the landing page content. <br />
        This will help for your app branding. If you don’t have a website use the Direct URL.
    </div>
</div>
<br />
<div class="row">
    <div class="col-md-12">
        <div class="tabs-container">
            <tabset class="tabs-left">
                <tab heading="PHP Rewrite">
                    <div class="row panel-body">
                        <p>This script fetches the raw HTML from the split-test page, sends it to the user's browser, then exits PHP to prevent further script execution.</p>
                        <div class="col-md-12">
                            <textarea readonly class="script">{{integration.codeSnippetPHPRewrite()}}</textarea>
                        </div>
                    </div>
                </tab>
                <tab heading="PHP Redirect">
                    <div class="row panel-body">
                        <p>This script sends the user directly to the split-test page on this site. This is only included for test purposes, you will probably not want to use it in live implementations.</p>
                        <div class="col-md-12">
                            <textarea readonly class="script">{{integration.codeSnippetPHPRedirect()}}</textarea>
                        </div>
                    </div>
                </tab>
                <tab heading="Full page IFRAME">
                    <div class="row panel-body">
                        <p>Raw and very basic HTML for a page that displays the split-test in an IFRAME, including the split-test title in the title tag. This ensures that no styling, script or content will be carried over from any templates or themes your site may be using.</p>
                        <div class="col-md-12">
                            <textarea readonly class="script">{{integration.codeSnippetHTML()}}</textarea>
                        </div>
                    </div>
                </tab>
                <tab heading="IFRAME by Itself">
                    <div class="row panel-body">
                        <p>You can paste this script into your HTML body, allowing you to setup the HTML title and header tags as you wish.</p>
                        <div class="col-md-12">
                            <textarea readonly class="script">{{integration.codeSnippetIFRAME()}}</textarea>
                        </div>
                    </div>
                </tab>
                <tab heading="ASP Rewrite">
                    <div class="row panel-body">
                        <p>This script fetches the raw HTML from the split-test page, sends it to the user's browser, then exits to prevent further script execution.</p>
                        <div class="col-md-12">
                            <textarea readonly class="script">{{integration.codeSnippetASP()}}</textarea>
                        </div>
                    </div>
                </tab>
                <tab heading="Direct URL">
                    <div class="row panel-body">
                        <p>If you don’t have a website use this URL and paste it on your social media pages, other sites you use and ads you use to drive traffic to your app.</p>
                        <div class="col-md-12">
                            <textarea readonly class="script">{{integration.codeSnippetDirectUrl()}}</textarea>
                        </div>
                    </div>
                </tab>
            </tabset>
        </div>
    </div>
</div>
