﻿.modal-fit .modal-dialog {
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  height: 400px;
  width: 800px;
  margin: auto;
  padding: 10px;
}

.modal-fit .modal-body {
  height: 400px;
  width: 800px;
  overflow: auto;
}

.modal-large .modal-dialog {
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  margin: auto;
  padding: 10px;
}

.app-modal-window .modal-dialog {
  width: 99%;
  height: 99%;
  position: absolute;
  top:0; bottom: 0; left: 0; right: 0;
  margin: auto
}

.app-modal-preview .modal-dialog {
  width: 30%;
  height: 90%;
  position: absolute;
  top:0; bottom: 0; left: 0; right: 0;
  margin: auto
}

.app-modal-window-medium .modal-dialog {
  width: 90%;
  height: 90%;
  top:5%; left: 5%; 
  position: absolute;
  margin: auto
}

.app-modal-window .modal-dialog .modal-content {
  height: 99%;
}

.app-modal-preview .modal-dialog .modal-content {
  height: 99%;
}


.app-modal-window-medium .modal-dialog .modal-content {
  height: 99%;
}

.modal-large .modal-body {
  height: 100%;
  width: 100%;
}

.modal-large  {
  height: 100%;
  width: 100%;
  overflow: auto;
}

.log{
	border: 1px solid #f5e1d1;
	width: 90%;
    resize: none;
	position:relative;
	margin:10px 0;
	padding:2px 10px 2px 10px;
	background:#f5cdcc;
	-webkit-box-shadow: #a09696 4px 4px 8px 0px;
	-moz-box-shadow: #a09696 4px 4px 8px 0px;
	box-shadow: #a09696 4px 4px 8px 0px;
}

.script{
	border: 2px solid #765942;
	height: 180px;
	width: 100%;
    resize: none;
    overflow-y: scroll;
    overflow-x: scroll;
	position:relative;
	margin:10px 0;
	padding:2px 10px 2px 10px;
	background:#e7f8f8;
	-webkit-box-shadow: #999999 4px 4px 8px 0px;
	-moz-box-shadow: #999999 4px 4px 8px 0px;
	box-shadow: #999999 4px 4px 8px 0px;
}
pre, xmp{
    white-space: pre-wrap;       /* CSS 3 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

.full button span {
    background-color: limegreen;
    border-radius: 32px;
    color: black;
}

.partially button span {
    background-color: orange;
    border-radius: 32px;
    color: black;
}


/* TOOGLE SWICH */
.onoffswitch {
    position: relative;
    width: 64px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}
.onoffswitch-checkbox {
    display: none;
}
.onoffswitch-label {
    display: block;
    overflow: hidden;
    cursor: pointer;
    border: 2px solid #1ab394;
    border-radius: 2px;
}
.onoffswitch-inner {
    width: 200%;
    margin-left: -100%;
    -moz-transition: margin 0.3s ease-in 0s;
    -webkit-transition: margin 0.3s ease-in 0s;
    -o-transition: margin 0.3s ease-in 0s;
    transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner:before,
.onoffswitch-inner:after {
    float: left;
    width: 50%;
    height: 20px;
    padding: 0;
    line-height: 20px;
    font-size: 12px;
    color: white;
    font-family: Trebuchet, Arial, sans-serif;
    font-weight: bold;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.onoffswitch-inner:before {
    content: "ON";
    padding-left: 10px;
    background-color: #1ab394;
    color: #FFFFFF;
}
.onoffswitch-inner:after {
    content: "OFF";
    padding-right: 10px;
    background-color: #FFFFFF;
    color: #999999;
    text-align: right;
}
.onoffswitch-switch {
    width: 20px;
    margin: 0px;
    background: #FFFFFF;
    border: 2px solid #1ab394;
    border-radius: 2px;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 44px;
    -moz-transition: all 0.3s ease-in 0s;
    -webkit-transition: all 0.3s ease-in 0s;
    -o-transition: all 0.3s ease-in 0s;
    transition: all 0.3s ease-in 0s;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: 0px;
}

.central-from label.error {
  float: left;
}
#loginForm input.error, #loginForm input.error:focus {
  background-color: #ffc3c3;
}

.ui-slider.ui-slider-horizontal {
    width: 52%;
    margin-top: 1%;
    border-color: #e7eaec;
}
.ui-slider.ui-slider-horizontal .ui-slider-handle {
    outline: none;
    cursor: pointer;
    -ms-border-radius: 10px;
    border-radius: 10px;
    border-color: #1ab394;
}

.ui-slider.ui-slider-horizontal .ui-slider-range {
    background: #1ab394;
}

.integrations-spinner {
    height: 295px;
    margin-top: 100px;
}

.edit-page-dialog, .edit-page-dialog > .row, .edit-page-dialog-body {
    height:99%;
    padding:10px 10px 10px 10px;
}

.preview-page-dialog, .preview-page-dialog > .row, .preview-page-dialog-body {
    height:95%;
    padding:10px 10px 10px 10px;
}

.edit-page-dialog .page-container {
    height:100%;
    position:absolute;
    padding-right:50px;
}
.edit-page-dialog .page-container > iframe,
.preview-page-dialog .page-container > iframe {
    width: 100%;
    height: 100%;
    border:1px solid #18a689;
}
.edit-page-dialog .edit-focused {
    color: #1ab394;
    background: #e7eaec;
    -ms-border-radius: 2px;
    border-radius: 2px;
}
.edit-page-dialog .controls-container {
    height: 100%;
    padding-bottom: 40px;
    padding-right: 0;
}
.edit-page-dialog .controls-container .controls {
    height: 100%;
    overflow-y: auto;
    padding: 0 16px;
}
.edit-page-dialog .buttons-container {
    padding-top: 10px;
    margin-top: -24px;
}
.inline-editable:hover {
    -ms-border-radius: 2px;
    border-radius: 2px;
    background: #e7eaec;
}
.inline-editable .fa.inline-edit {
    cursor: pointer;
    float: right;
    margin-top: 7px;
    color: #1ab394;
    display: none;
}
.inline-editable:hover .fa.inline-edit {
    display: inline-block;
}

.table > tbody > tr > td.inline-page-from {
  padding: 2px 8px;
}
.table > tbody > tr > td.inline-page-from .form-control {
  display: inline-block;
  width: 160px;
}

.test-winner {
    color: #146614;
    font-weight: bold;
}

#format-toolbar1, 
#format-toolbar2, 
#format-toolbar3 {
    margin-left: auto;
    margin-right: auto;
}

#toolbar-options { display: none; }


.autocompletedemoCustomTemplate .autocomplete-custom-template li {
  border-bottom: 1px solid #ccc;
  height: auto;
  padding-top: 8px;
  padding-bottom: 8px;
  white-space: normal; }
.autocompletedemoCustomTemplate .autocomplete-custom-template li:last-child {
  border-bottom-width: 0; }
.autocompletedemoCustomTemplate .autocomplete-custom-template .item-title,
.autocompletedemoCustomTemplate .autocomplete-custom-template .item-metadata {
  display: block;
  line-height: 2; }
.autocompletedemoCustomTemplate .autocomplete-custom-template .item-title md-icon {
  height: 18px;
  width: 18px; }

/*  Autocomplete directive */ 
/* AUTOCOMPLETE */

.autocomplete{
  width: 100%;
  position: relative;
}

.autocomplete input{
  font-size: 1.2em;
  width: 100%;
  padding:0.4em;
}

.autocomplete ul{
  position: absolute;
  left: 0;
  width: 100%;
  border-left: 1px solid #888;
  border-right: 1px solid #888;
  border-bottom: 1px solid #888;
  z-index: 1;
}

.autocomplete li{
  text-align: left;
  list-style:none;
  width: 100%;
  padding:0.4em;
  background-color: #fff;
}

.autocomplete li.active{
  width: 100%;
  background-color: #4bf;
}

.autocomplete .highlight {
  background-color: #E2E2E2;
}

.autocomplete li.active .highlight {
  background: #666;
  color: #fff;
}

.small-circle {
  border: 0 solid #333;
  height: 25px;
  width: 25px;
  margin: 0;
  cursor: pointer;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
}

.small-circle.orange {
  background-color: orange;
}

.small-circle.blue {
  background-color: blue;
}

.small-circle.green {
  background-color: green;
}

.small-circle.brown {
  background-color: brown;
}
.upload-spinner {
  display: inline-block;
  width: 18px;
  height: 18px;
  vertical-align: middle;
  margin-left: 8px;
}

.coupon-info .sk-spinner.sk-spinner-fading-circle {
  display: inline-block;
  margin-top: 6px;
}
.coupon-info .fa {
  font-size: 28px;
  height: 34px;
  line-height: 34px;
}
.coupon-info .fa.success {
    color: #23c6c8;
}
.coupon-info .fa.error {
    color: #ed5565;
}
.coupon-info strong {
  margin: 0 10px;
}

.conversion-pixel {
  display: none;
}

.sweet-alert input[type="text"] {
    background-color: #FFFFFF;
    background-image: none;
    border: 1px solid #e5e6e7;
    border-radius: 1px;
    color: inherit;
    padding: 6px 12px;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
    width: 100%;
    font-size: 14px;
    height: 34px;
}
.sweet-alert input[type="text"]:focus {
    box-shadow: none;
    border-color: #1ab394 !important;
}

.sweet-alert .sa-input-error.show {
    top: 19px;
    right: 15px;
}

button > .btn-spinner {
    display: inline-block;
    height: 20px;
    vertical-align: top;
    margin-left: 5px;
}

button > .btn-spinner .sk-spinner.sk-spinner-fading-circle .sk-circle:before {
    background-color: #f3f3f4;
}

a.forgot:hover {
    color: #4097e2;
}

.app-item {
    display: table;
    padding: 3px 10px;
    margin: 0;
}
.app-item .app-icon {
    display: table-cell;
    vertical-align: middle;
}
.app-item .app-icon img {
    width: 40px;
    height: 40px;
    margin-right: 10px;
    border-radius: 6px;
}
.app-item .app-info {
    display: table-cell;
    vertical-align: middle;
    width: 240px;
    max-width: 240px;
    line-height: 1.42857143;
}
.app-item .app-info .product {
    font-size: 14px;
    font-weight: bold;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.app-item .app-info .company {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.dropdown-menu a.app-item .app-info {
    width: 425px;
    max-width: 425px;
}
.dropdown-menu>.active>a.app-item,
.dropdown-menu>.active>a.app-item:focus,
.dropdown-menu>.active>a.app-item:hover {
    background-color: #1ab394;
}


