﻿<div class="wrapper wrapper-content">



    <spinner name="accountSpinner" ng-hide="!account.isLoading" on-loaded="account.init()" class="text-center" style="margin-top:10%;">
        <img alt="Loading..." src="assets/images/spinner-gears-3.gif">
        <p class="please-wait">Please Wait...</p>
    </spinner>

    <div class="modal-body" ng-hide="account.isLoading">
        <div class="row wrapper animated fadeIn">
            <br/><br/>
            <div class="row">
                <div class="col-md-10 col-md-offset-1">

                    <table datatable="ng" class="table table-responsive table-striped table-bordered table-hover">
                        <thead style="font-size: 16px; line-height: 1.428;">
                        <tr>
                            <th class="col-md-3" ng-hide="account.isReadonly()">Status</th>
                            <th class="col-md-9">Name</th>
                        </tr>
                        </thead>
                        <tbody style="font-size: 16px; line-height: 1.428;">
                        <tr ng-repeat="c in account.campaigns">
                            <td class="col-md-3" ng-hide="account.isReadonly()">
                                <div ng-if="!account.campaigns[$index].active">
                                    <span>Archived</span> 
                                </div>
                                <div class="onoffswitch"
                                     tooltips
                                     tooltips-size="medium"
                                     tooltips-side="right"
                                     ng-if="account.campaigns[$index].active"
                                     title="Stop campaign A/B test">
                                    <input id="onoffswitch{{$index}}"
                                           type="checkbox"
                                           class="onoffswitch-checkbox"
                                           ng-model="account.campaigns[$index].active"
                                           ng-change="account.switchCampaign($index)">
                                    <label class="onoffswitch-label"
                                           for="onoffswitch{{$index}}">
                                        <span class="onoffswitch-inner"></span>
                                        <span class="onoffswitch-switch"></span>
                                    </label>
                                </div>
                            </td>

                            <td class="col-md-9">
                                <a href="javascript:void(0);"
                                   ng-click="account.clickedCampaign($index)">
                                    {{c.name}}
                                </a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>