﻿<div id="wrapper" ng-init="main.init()">
    <div id="page-wrapper" class="gray-bg" >
        <div ui-view></div>
        <div class="footer fixed">
            <div>
                <strong>Copyright</strong> Load Board. &copy; 2017
            </div>
        </div>
    </div>
</div>